# ignore build files
build/

# ignore text files start with data
data*
output*
local*

# ignore debug files:
debug*

# ignore the .trace file
*.trace

# ignore all folders begin with __ or . (e.g. __pycache__)
__*/
.*/

# ignore gif files
*.gif
*.html
