# ignore build files
build/

# ignore text files start with data
data*
output*

# ignore debug files:
debug*

# ignore the .trace file
*.trace

# ignore __pycache__ folder and .vs floder
__pycache__/
.vs/